<div class="contenedorCardNotes">
  <mat-card class="cardNote" *ngFor="let note of notes; index as i">

    <div class="cardHeader">
      <mat-card-title>{{note.title}}</mat-card-title>

      <span class="separador"></span>

      <a mat-raised-button class="btnEdit" [routerLink]="['/notes/create']"
      [queryParams]="{note: note._id}"  routerLinkActive="router-link-active" >
        Edit
      </a>
    </div>

    <hr>
    <mat-card-content>

      {{note.content}}

    </mat-card-content>

    <mat-card-footer>
      <button mat-raised-button color="warn" class="btnDelete"
      (click)="deleteNote(note._id, i)">
        Delete
      </button>
    </mat-card-footer>
  </mat-card>
</div>
